<div class="content">
  <div class="email">
    <div id="title">
      <h1>{{email.subject}}</h1>
      <hr>
    </div>
    <span class="from">{{email.from}}</span>
    <div id="body">
      {{email.menssage}}
    </div>
  </div>

  <br>

  <div class="btn-group">
    <button onclick="history.back()" class="btn btn-primary btn-sm" type="button" aria-haspopup="true" aria-expanded="false">
      Voltar
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-success btn-sm" type="button">
      Responder
    </button>
  </div>

</div>
